/*==================== GOOGLE FONTS ====================*/
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap);

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;

/*========== Colors ==========*/
--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);
--Grayish-Blue: hsl(232, 20%, 50%);
--Light-Grayish-Blue: hsl(223, 5%, 74%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
/*========== Font and typography ==========*/
--body-font: 'Public Sans', sans-serif;

/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
--bigger-font-size: 2.5rem;
--big-font-size: 2rem
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1.125rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/*========== Font weight ==========*/
--font-medium: 300;
--font-semi-bold: 400;
--bold: 700;

/*========== Margins Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-3-25: 3.25rem;
    --mb-3-50: 3.5rem;
    --mb-4: 4rem;

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
    
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--body-color);
    
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}
p,
span,
label {
    color: #333;
}

.section {
    padding: 2rem 0 4rem;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 2;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
}


/*==================== NAV ====================*/
.nav {
    max-width: 880px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle {
    font-size: var(--h2-font-size);
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--Bright-Cyan);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: 2rem;
        left: -100%;
        width: 70%;
        height: 100%;
        background-image: linear-gradient(hsl(136, 64%, 58%), hsl(192, 70%, 51%));
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 20px 20px rgba(0,0,0,.15);
        transition: .3s;
    }

    .nav__link {
        color: #fff;
        font-size: var(--h2-font-size);
    }

    .nav__link:hover {
        color: var(--Bright-Cyan);
    }

    .nav__close {
        color: #fff;
        font-size: var(--h2-font-size);
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }

    .nav__close:hover {
        color: var(--Bright-Cyan);
    }

    /* show menu */
    .show-menu {
        left: 0;
    }

    /* Change background header */
    .scroll-header {
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
}

/*==================== HOME ====================*/
.home__content {
    padding-top: 4rem;
}


.home__img {
    z-index: 11;
    background-image: url(images/bg-intro-mobile.svg);
    background-size: 110%;
}

.home__data {
    text-align: center;
}

.home__title {
    font-size: 2rem;
    margin: 2rem;
}

.home__subtitle {
    color: var(--Grayish-Blue);
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
    line-height: 25px;
}

.home__button {
    background-image: linear-gradient(hsl(136, 64%, 58%), hsl(192, 70%, 51%));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0px 4px 14px 0px #000000;
    font-size: var(--h3-font-size);
    cursor: pointer;
}

.home__content {
    margin-bottom: 3rem;
}

/*==================== CHOOSE ====================*/
.choose__features,
.choose__title,
.choose__subtitle {
    text-align: center;
}

.choose__title {
    font-size: 1.5rem;
    margin-bottom: var(--mb-1);
}

.choose__subtitle {
    margin-right: 2rem;
    margin-left: 2rem;
    color: var(--Grayish-Blue);
    line-height: 25px;
    margin-bottom: 5rem;
}

.choose__img {
    margin-bottom: 1.5rem;
}

.feature__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
}

.feature__subtitle {
    font-size: var(--h3-font-size);
    color: var(--Grayish-Blue);
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 4rem;
}

/*==================== LATEST ARTICLES ====================*/
.article,
.article__contents {
    text-align: center;
}

.section__title {
    margin-bottom: 2rem;
}

.article__img {
    margin: auto;
    width: 300px;
}

.article__author {
    color: #333;
    margin-bottom: 1.5rem;
}

.article__title {
    margin: 0 3rem 1.5rem;
}

.article__subtitle {
    margin: 0 4.5rem 5rem;
    color: var(--Grayish-Blue);
}



/*==================== FOOTER ====================*/
.footer__bg {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer__socials {
    margin-top: 3rem;
}

.footer__media:hover {
    color: var(--Bright-Cyan);
}

.footer__icons {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.footer__media {
    margin: .5rem
}

.footer__link {
    margin-bottom: .5rem;
    color: var(--Grayish-Blue);
    cursor: pointer;
}

.footer__link:hover {
    color: var(--Bright-Cyan);
}

.footer__links {
    margin-bottom: 2rem;
}
.footer__copy {
    margin-top: 4rem;
}

.footer__button {
    background-image: linear-gradient(hsl(136, 64%, 58%), hsl(192, 70%, 51%));
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 60%;
    box-shadow: 0px 4px 14px 0px #000000;
    font-size: var(--h3-font-size);
    cursor: pointer;
}

/*==================== MEDIA QUERIES ====================*/
/* For medium devices */
@media screen and (min-width: 568px) {

    .home__button {
        width: 50%;
    }

    .choose__subtitle {
        margin: 0 4rem 5rem;
    }

    .choose__img {
        width: 30%;
    }
    
    .article__img {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
    }

    .home__content {
        display: flex;
        flex-direction: row-reverse;
    }

    .home__data {
        text-align: left;
        margin: 2rem;
    }

    .home__title {
        margin-bottom: 2rem;
    }

    .home__img {
        background-image: url(images/bg-intro-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .home__button {
        margin-left: 2rem;
    }

    .choose__subtitle {
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .choose__features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .choose__img {
        width: 20%;
    }

    .section__title {
        margin-bottom: 5rem;
    }

    .article__contents {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }

    .article__subtitle {
        margin: 0 3.5rem 5rem;
    }

    .footer__bg {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    .footer__links {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 2.5rem;
        text-align: left;
    }

    .footer__copy {
        margin-top: 2rem;
    }

    .footer__button {
        margin-top: 2rem;
        font-size: var(--small-font-size);
    }
}

/* For large devices */ 
@media screen and (min-width: 1024px) {

    .nav {
        margin: 0 4.5rem;
    }

    .container {
        margin: auto;
    }

    .home__container {
        margin-right: 5rem;
    }

    .home__data {
        margin: 4rem 2rem 2rem;
    }

    .home__button {
        width: 30%;
    }

    .choose__subtitle {
        max-width: 470px;
        text-align: center;
        margin: auto;
        margin-bottom: 6rem;
    }

    .feature__subtitle {
        max-width: 300px;
        margin: auto;
        margin-bottom: 3rem;
    }

    .article__content {
        max-width: 470px;
    }

    .footer__container {
        margin: auto;
    }

    .footer__links {
        text-align: left;
    }
}
